src/.vs/

**/build/
**/external

*.exe
*.out
*.app
*.bin
*.a
*.so
*.lib
*.pdb
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb
*.otf
*.ttf
*.dll

todo.txt

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

CMakeList.txt
